{% extends 'djangoapp/base.html' %}

{% block title_head %} Dealership - Home {% endblock %}

{% block content %}
<body>
  <!-- Container -->
  <div class="container-fluid">
    <h2 class="text-center"> Dealer Reviews </h2>
    {% if user.is_authenticated %}
        <button class="btn btn-primary" href="#">Add a Review</button>
    {% endif %}
    <br><br><br>
    {% if reviews_list %}
    <div class="card-columns">
        {% for review_i in reviews_list %}
        <div class="card">
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" style="width:10%;">
            <div class="card-body" >
                <h5 class="card-title">{{review_i.car_model}}, {{review_i.car_make}}</h5>
                <h5 class="card-title">{{review_i.car_year}}</h5>
                <p class="card-text">{{review_i.review}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %} 
    <h3 class="text-center"> No Reviews for this Dealer Yet.<br> Please Select a Different Dealer. </h3>
    {% endif %}
  </div>
</body>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>
{% endblock %}
