{% extends 'djangoapp/base.html' %}

{% block title_head %} Dealership - Home {% endblock %}

{% block content %}
<body>
  <!-- Container -->
  <div class="container-fluid">
    <h2 class="text-center"> This is home </h2>
    <br>
    <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="Dealer_name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:n_dealer_reviews' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</body>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>
{% endblock %}
